@charset "ISO-8859-1";


body {
	display: block;
	margin-top: 50px;
	padding: 15px;
	font: sans-serif;
	font-family: Verdana;
}

a {
	color: black;
}

.container {
	width: 80%;
	margin: 30px auto;
}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #b7b7b7;
	display: block;
}

.btn {
	border-radius: 4px;
	background-color: #b7b7b7;
	color: black;
	border: 2px solid #b7b7b7;
	transition-duration: 0.4s;
	text-decoration: none;
	cursor: pointer;
	text-transform: none;
	box-shadow: none;
	border-style: solid;
	padding: 12px 25px;
}

.btn:hover {
	background-color: #ffffff;
}

.btn-sm {
	padding: 5px 10px;
}

#navbar .homeButton, #navbar .viewOrdersButton, #navbar .loginButton, #navbar .logoutButton, #navbar .registerButton, #navbar .checkoutButton {
	border-radius: 0;
	padding: 16px 30px;
	white-space: normal;
	float: left;
	width: auto;
	border: none;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none;
	color: inherit;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	height: inherit;
	position: relative;	
}

.inline {
	display: inline-block;
}

.textInputNice {
	width: 200px;
	height: 30px;
}

.textInputNiceSmall {
	width: 100px;
	height: 30px;
}

.right {
	float: right !important;
}

.left {
	float: left;
}

div.pageRow .btn, div.pageRow p, div.pageRow div.rowItem {
	display: inline-block;
	vertical-align: middle;
	padding: auto 0;
}

table.tbl {
	table-layout: auto;
	border-collapse: collapse;
}

table.tbl.colOneRight tr td:nth-child(1) {
	text-align: right;
}

table.tbl td {
	padding: 10px;
	border: 1px solid #b7b7b7;
}

table.tbl .textInput, table.tbl .dropdownInput {
	width: 200px;
	height: 30px;
}

table.tbl .textInputLong {
	width: 600px;
	height: 60px;
}

table.tbl .halfInput {
	width: 99px;
}

table.noBorder td {
	border: none;
}

#navbar .homeButton:hover, .viewOrdersButton:hover, .logoutButton:hover, .registerButton:hover .checkoutButton:hover {
	background-color: #ffffff; !important
}


